<nav class="navbar navbar-dark mb-4">
    <div class="container-fluid">
      <!-- <p>{{loginId}}</p> -->
      <a class="navbar-brand" *ngIf="loginId > -1" routerLink='/home'>
        <img src="../favicon.ico" alt="" width="45" height="45" 
        class="d-inline-block align-text-top">
        PawBook
      </a>
      <a class="navbar-brand" *ngIf="loginId === -1" routerLink='null'>
        <img src="../favicon.ico" alt="" width="45" height="45" 
        class="d-inline-block align-text-top">
        PawBook
      </a>

      <div class=" right-div navbar-toggler">
        <a *ngIf="loginId > -1" routerLink='/user/{{loginId}}'>
        <!-- <a routerLink="loginId ? '/user/0' : null"> -->
            <img 
            src="../assets/images/pixie.jpg" id="profile-pic"
        class="d-inline-block align-text-top">
        <!-- *ngIf="loginId > -1"  -->
        </a>
      <button class="navbar-toggler" type="button"
        (click)="toggleSidebar()" [disabled]="loginId === -1">
        <i class="material-symbols-outlined" id="friends-menu-icon">group</i>
      </button>
      </div>
    </div>
  </nav>
  <app-sidebar *ngIf="isOpen" ></app-sidebar>