.container{
    max-width: 300px;
    min-height: 400px;
    position: absolute;
    right: .75rem;
    bottom: .75rem;
    background-color: red;
    
    background-color: #9fc4c6;
    border: 1px solid #395e60;
}
img{
    height: 4rem;
}
