<div *ngIf="successMessage !== ''" class="alert alert-success text-center my-4">
    {{successMessage}}
</div>

<div class="center-div">
<form [formGroup]="reactiveForm" (ngSubmit)="register()">
  <div class="form-row form-group">
    <div class="col">
      <input type="email" name="email" id="email" 
        class="form-control" placeholder="Email"
        formControlName = "email">
    </div>
    <label for="email" 
      *ngIf="reactiveForm.get('email')?.invalid && reactiveForm.get('email')?.touched">
      <small class="text-danger" *ngIf="reactiveForm.get('email')?.errors?.['required']">Required field</small>
      <small class="text-danger" *ngIf="reactiveForm.get('email')?.errors?.['maxlength']">Maximum 30 characters</small>
      <small class="text-danger" *ngIf="reactiveForm.get('email')?.errors?.['pattern']">Enter a valid email address</small> 
    </label>
  </div>
    
  <div class="form-row form-group">
    <div class="col">
      <input type="password" name="password" id="password" 
        class="form-control" placeholder="Password"
        formControlName = "password">
    </div>
    <label for="password" 
      *ngIf="reactiveForm.get('password')?.invalid && reactiveForm.get('password')?.touched">
      <small class="text-danger" *ngIf="reactiveForm.get('password')?.errors?.['required']">Required field</small>
      <small class="text-danger" *ngIf="reactiveForm.get('password')?.errors?.['minlength']">Minimum 3 characters</small>
      <small class="text-danger" *ngIf="reactiveForm.get('password')?.errors?.['maxlength']">Maximum 30 characters</small>
    </label>
  </div>

    <div class="col text-center" >
        <button class="btn btn-primary" type="submit"
        [disabled]="reactiveForm.invalid">
        Login</button>
    </div>
  
</form>
</div>

