<div *ngIf="successMessage !== ''" class="alert alert-success text-center my-4">
    {{successMessage}}
</div>

<div class="container rounded">
<form [formGroup]="reactiveForm" (ngSubmit)="register()">
  <div class="form-row form-group">
    <div class="col">
      <input type="email" name="email" id="email" 
        class="form-control" placeholder="Email"
        formControlName = "email">
    </div>
  </div>
    
  <div class="form-row form-group">
    <div class="col">
      <input type="password" name="password" id="password" 
        class="form-control" placeholder="Password"
        formControlName = "password">
    </div>
  </div>

    <div class="col text-center" >
        <button class="btn btn-primary" type="submit"
        [disabled]="reactiveForm.invalid">
        Login</button>
    </div>
</form>
</div>

