.container{
    width: 300px;
    height:30%; min-height: 350px;

    position: absolute;
    right: .75rem;
    bottom: .2rem;
    z-index: 1;

    background-color: var(--lighter-color);
    border: 1px solid var(--darker-color);
    font-size: .8rem;
}
img{    
    height: 4rem;  
    border: white 1px solid; 
    padding: 0;
    margin-left:-1.2rem;
}
.msg{   background-color: white;}
h5{
    font-weight: bold;
    color: var(--darker-color);
    margin: .75rem;
}
#input-btn{
    border: 1px solid var(--darker-color);
    color: var(--darker-color);
    background-color: var(--light-color);
}
.card-body{
    overflow-y:auto;
    margin-top: .5rem;
}
table{
    border-collapse: separate;
    border-spacing:0 .5rem;
    padding-left: 0;
}
.card-footer{
    padding-bottom: 0;
}
.up{
    padding-left: 0; padding-right: 1rem;
    margin-left: -1rem;
    color: var(--darker-color);
}