<!-- <p *ngIf="isLoggedIn">I am logged-in</p> -->
<div class="container">
    <form [formGroup]="reactiveForm" (ngSubmit)="update()">
<table class="table text-center expand-md">
<tr class="main">
    <td class="col"><img src="{{profile.profilePic}}"></td>
    <td class="col">
        <h2 id ="name" *ngIf="!editMode" class="name">{{profile.name}}</h2>
        <h2 *ngIf="editMode">
            <div class="form-row form-group">
                <input type="text" name="name" id="name" 
                  class="form-control text-center" placeholder="Name"
                  formControlName = "name">
              </div>
        </h2>
    </td>
    <td class="col-1" *ngIf="profile.id === 0">
        <button class="btn" (click)="edit()">
            <i class="material-symbols-outlined">edit</i></button>
    </td>

</tr>
<tr><td>      </td><td>     </td></tr>
<tr><td>      </td><td>     </td></tr>

<tr>
    
    <th>Species: </th>
    <td *ngIf="!editMode">{{profile.species}}</td>
    <td *ngIf="editMode">
        <div class="form-row form-group">
          <input type="text" name="species" id="species" 
            class="form-control text-center" placeholder="Species"
            formControlName = "species">
        </div>
    </td>
</tr>
<tr>
    <th>Country: </th>
    <td *ngIf="!editMode">{{profile.country}}</td>
    <td *ngIf="editMode">
        <div class="form-row form-group">
          <input type="text" name="country" id="country" 
            class="form-control text-center" placeholder="Country"
            formControlName = "country">
        </div>
    </td>
</tr>
<tr>
    <th>City: </th>
    <td *ngIf="!editMode">{{profile.city}}</td>
    <td *ngIf="editMode">
        <div class="form-row form-group">
          <input type="text" name="city" id="city" 
            class="form-control text-center" placeholder="City"
            formControlName = "city">
        </div>
    </td>
</tr>
<tr>
    <th>Email: </th>
    <td *ngIf="!editMode">{{profile.email}}</td>
    <td *ngIf="editMode">
        <div class="form-row form-group">
          <input type="email" name="email" id="email" 
            class="form-control text-center" placeholder="Email"
            formControlName = "email">
        </div>
    </td>
</tr>
<tr>
    <th>Friends: </th>
    <td>{{profile.friends.length}}</td>  
</tr>

</table>
</form>
</div>

<!-- TODO: display friends pictures -->







<!-- <table class="table text-center" *ngFor="let friendId of profile.friends">
    <tr rowspan="2" class="mb-auto flex-row"> -->
        <!-- <td rowspan="2"><img src="{{getFriendInfo(friendId).profilePic}}"></td>
        <td>{{getFriendInfo(friendId).name}}</td> -->
   <!-- </tr>
</table> -->


<!-- <p *ngFor="let friendId of profile.friends">
    {{profile.friends}}
</p> -->
