img {
    height: 8rem;
    border: 2px solid white;
    padding: 0;
    margin: 1.5rem 1rem;
}
.container{
    width:80%; max-width: 800px;
    border: 3px solid var(--darker-color);
    margin-top: 2rem;
    background-color: var(--light-color);
}
#name {
    color: #395e60;
    font-weight: bolder;
}

table {    table-layout: fixed;}
th{color: #395e60; }
td{    padding: 5px;}
.main{    border-bottom: solid 2px var(--darker-color);}
.btn{ 
    background-color: var(--lighter-color);
    border: 1px solid var(--darker-color);
    color: var(--darker-color);
}

