<div class="container">
    <div class="form-group rounded">
        <div class="form-row">
        <input type="text"    (change)="addPostContent($event)" class="form-control text-center" placeholder="What's on your mind?">
        </div>
        <div class="form-row mt-3"><div class="col text-center">
        <button type="submit" (click)="add()"                 class="btn" >Post</button>
        </div></div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4" >
    <div *ngFor="let post of arr">
    <div class="card h-100 text-center">
            <div class="img-square-wrapper">
                <a routerLink='/user/{{post.userId}}'>
                    <img class="" src="{{animals.getUserInfo(post.userId).profilePic}}">
                <h5 class="card-title">{{animals.getUserInfo(post.userId).name}}</h5></a>
            </div>
            <div class="card-body rounded">
                <p class="card-text">{{post.content}}</p>
            </div>
    </div></div>
        <!-- <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div> -->
    </div>
    
</div>